<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PleaseWork_Workshop::workshop" title="WORK SHOP"
             module="PleaseWork_Workshop" sortOrder="51"
             resource="PleaseWork_Workshop::workshop"/>

        <add id="PleaseWork_Workshop::post" title="Show posts"
             module="PleaseWork_Workshop" sortOrder="10"
             action="workshopmenu/post/display"
             resource="PleaseWork_Workshop::post"
             parent="PleaseWork_Workshop::workshop"/>

        <add id="PleaseWork_Workshop::publisher" title="Show publishers (books)"
             module="PleaseWork_Workshop" sortOrder="10"
             action="workshopmenu/publisher/display"
             resource="PleaseWork_Workshop::publisher"
             parent="PleaseWork_Workshop::workshop"
        />

        <add id="PleaseWork_Workshop::workshop_configuration"
             title="Configuration" module="PleaseWork_Workshop" sortOrder="10"
             parent="PleaseWork_Workshop::workshop"
             action="adminhtml/system_config/edit/section/workshop"
             resource="PleaseWork_Workshop::workshop_configuration"/>

        <add id="PleaseWork_Workshop::observer_configuration"
             title="Show shares of an observer"
             module="PleaseWork_Workshop" sortOrder="80"
             action="workshopmenu/stock/display"
             resource="PleaseWork_Workshop::observer_configuration"
             parent="PleaseWork_Workshop::workshop"
        />
    </menu>
</config>
