<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="workshop" translate="label" sortOrder="10">
            <label>Workshop</label>
        </tab>
        <section id="workshop_system" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Workshop</label>
            <tab>workshop</tab>
            <resource>PleaseWork_Workshop::workshop_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dropdown" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module dropdown</label>
                    <source_model>PleaseWork\Workshop\Config\Source\Dropdown</source_model>
                </field>
                <field id="dropdown_dependable" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Dependable Dropdown</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <source_model>PleaseWork\Workshop\Config\Source\Dropdown</source_model>
                </field>
                <field id="multiselect" translate="label"  type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Multyselect</label>
                    <source_model>PleaseWork\Workshop\Config\Source\MultiSelect</source_model>

                </field>
                <field id="custom" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable Custom</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesnocustom</source_model>
                </field>
                <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Text</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>

        <section id="workshop_system_observer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Observer settings</label>
            <tab>workshop</tab>
            <resource>PleaseWork_Workshop::workshop_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price</label>
                    <comment>Price of a product for a discount (must be a number)</comment>
                </field>
                <field id="quantity" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Quantity items in the cart</label>
                    <comment>Quantity must be a number</comment>
                </field>
                <field id="total_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum price per cart</label>
                    <comment>Amount for gift (must be a number)</comment>
                </field>
                <field id="product_sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product SKU</label>
                    <comment>Product SKU</comment>
                </field>

                <field id="display_text" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Description</label>
                    <comment>Short stock description</comment>
                </field>
                <field id="report_mail" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mail for report </label>
                    <comment>Email address</comment>
                </field>
            </group>
        </section>
    </system>
</config>