<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <simpleshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Sandftae\CustomShipping\Api\ShippingFrontValidateInterface</model>
                <name>Super Shipping Method</name>
                <price>35.00</price>
                <title>USA fixed delivery</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <alignment>1</alignment>
            </simpleshipping>
        </carriers>
    </default>
</config>