<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <workshop>
            <general>
                <enable>0</enable>
                <display_text>Workshop</display_text>
            </general>
        </workshop>
        <multiselect>
            <first_entry>
                <label>First entry</label>
            </first_entry>
            <second_entry>
                <label>Second entry</label>
            </second_entry>
            <third_entry>
                <label>Third entry</label>
            </third_entry>
            <four_entry>
                <label>Four entry</label>
            </four_entry>
            <five_entry>
                <label>Five entry</label>
            </five_entry>
            <six_entry>
                <label>Six entry</label>
            </six_entry>
            <seven_entry>
                <label>Seven entry</label>
            </seven_entry>
            <eight_entry>
                <label>Eight entry</label>
            </eight_entry>
            <ten_entry>
                <label>Ten entry</label>
            </ten_entry>
            <eleven_entry>
                <label>Eleven entry</label>
            </eleven_entry>
            <Twelve_entry>
                <label>Twelve entry</label>
            </Twelve_entry>
            <Thirteen_entry>
                <label>Thirteen entry</label>
            </Thirteen_entry>
        </multiselect>
    </default>
</config>
